/**
 * custom.scss
 *
 * This file left blank intentionally. Implementations of Open SDG can use
 * a similarly named file for custom styles.
 */

/*#2.1 Navigation Buttond */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
     &.goal-banner {
       background-color: $background-c;
     }
     &.sup-goal-banner {
       height: 5px;
       background-color: lighten($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.sub-goal-banner {
       height: 5px;
       background-color: darken($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.navigation-btn {
       background-color: $background-c;
       color: white;
       height: 36px;
       border-color: transparent;
       margin-bottom: 10px;
       margin-top: 10px;
       padding-top: 6px;
       padding-bottom: 6px;
     }
     &.navigation-btn:hover {
       background-color: darken($background-c,10%);
     }
   }
 }

 .goal-banner {
   h1, p {
     color: $goal-banner-color;
     @media only screen and (max-width: 600px) {
       font-size:4vw;
     }
     @media only screen and (max-width: 500px) {
       font-size:5vw;
     }
     @media only screen and (max-width: 400px) {
       font-size:6vw;
     }
     @media only screen and (max-width: 300px) {
       font-size:7vw;
     }

   }
 }
/*#2.1*/

body{
  background: $backgroundColor;
  padding-top: 15px;
}

//---#2 TimeSeriesNameDisplayedInMaps---start--------------------------------------------------------------
#mapHead {
  display: block;
  font-size: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
//---#2 TimeSeriesNameDisplayedInMaps---stop---------------------------------------------------------------

.responsiveImg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.responsiveSubtitle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// labels on reporting status page
.status {
  //display: inline-block;
  //margin-right: 3px;
  //padding: 2px 5px;
  border-radius: 3px;

  //width: 40px;
  //text-align: center;
  //font-size: 16px;
}



.breadcrumb{
  padding-top: 20px;
  padding-bottom: 10px;
}


//---delete when open-sdg PR 1016 is merged---
.btn-group.menu-dropdown {
  .dropdown-toggle {
    margin: 0 0 2px 15px;
    padding: 2px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    color: $menu-link-color;
    &:hover {
      background: none;
      border-bottom: 2px solid $menu-link-borderBottomColor-hover;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    margin-left: 15px;
    a {
      color: $menu-link-color;
    }
    .active {
      a {
        background: none;
        color: $menu-link-color;
        &:hover {
          background: $menu-dropdownLink-backgroundColor-hover;
        }
      }
    }
  }
}


body.contrast-high {
  .navbar {
    #menu, #menu-mobile {
      li {
        a {
          color: $color-light-highContrast;
          &:hover, &:focus {
            color: $color-highlight-highContrast;
          }
        }
      }
      li.active {
        a {
          color: $color-highlight-highContrast;
          border-color: $color-highlight-highContrast;
          &:hover {
            color: $color-highlight-highContrast;
          }
          &:focus {
            color: $color-highlight-highContrast;
          }
        }
      }
    }
    #menu-mobile {
      li {
        a {
          background-color: $color-dark-highContrast;
        }
      }
    }
    #search, #search-mobile {
      input, button {
        color: $color-dark-highContrast;
      }
    }
    .top-level {
      > li.active {
        button {
          color: $color-dark-highContrast;
        }
      }
    }

    #menu {
      .btn-group.menu-dropdown {
        .dropdown-toggle {
          color: $color-light-highContrast !important;
          background: $color-dark-highContrast !important;
          &:hover {
            color: $color-highlight-highContrast !important;
          }
          &:focus {
            background: $focusBackgroundColor-highContrast !important;
            color: $focusColor-highContrast !important;
          }
        }
        .dropdown-menu {
          li {
            a {
              color: $color-dark-highContrast;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
//---
