
/*#2.1 Navigation Buttons */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
     &.goal-banner {
       background-color: $background-c;
     }
     &.sup-goal-banner {
       height: 5px;
       background-color: lighten($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.sub-goal-banner {
       height: 5px;
       background-color: darken($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.navigation-btn {
       background-color: $background-c;
       color: white;
       height: 36px;
       border-color: transparent;
       margin-bottom: 10px;
       margin-top: 10px;
       padding-top: 6px;
       padding-bottom: 6px;
     }
     &.navigation-btn:hover {
       background-color: darken($background-c,10%);
     }
   }
 }

 .goal-banner {
   h1, p {
     color: $goal-banner-color;
     @media only screen and (max-width: 600px) {
       font-size:4vw;
     }
     @media only screen and (max-width: 500px) {
       font-size:5vw;
     }
     @media only screen and (max-width: 400px) {
       font-size:6vw;
     }
     @media only screen and (max-width: 300px) {
       font-size:7vw;
     }

   }
 }
/*#2.1*/

body{
  background: $backgroundColor;
  padding-top: 15px;
}


.responsiveImg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

// labels on reporting status page
.status {
  display: inline-block;
  //margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;

  //width: 40px;
  //text-align: center;
  //font-size: 16px;
}

.breadcrumb{
  padding-top: 20px;
  padding-bottom: 10px;
}

//-----From sass/layouts/_indicator Line 294
// ---To avoid a square in headline legend
#legend {
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
    > li {
      font-size: 13px;
      list-style-type: none;
      display: inline-block;
      color: $indicator-legendSwatch-fillColor;
      padding: 5px;
    }
    .swatch {
      display: inline-block;
      width: 45px;
      height: 15px;
      margin-right: 3px;

      &.dashed {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==');
        background-repeat: repeat;
        background-position: -5px 0;
      }
    }
    &.legend-for-line-chart {
      .swatch {
        height: 3px;
        position: relative;
        .swatch-inner {
          position: absolute;

          width: 11px;
          height: 11px;
          display: inline-block;
          top: -4px;
          left: 17px;
          border-radius: 10px;
        }
        &.headline {
          height: 6px;
          .swatch-inner {
            top: -3px;
            width: 12px;
            height: 12px;
            border-radius: 10px;

          }
        }
      }
    }
  }



// to center the chart-title
.chart-title {
  //margin-left: 20px;
 text-align: center;
 margin-bottom: 1.0rem;
}

.chart-subtitle {
 margin-left: 20px;
 text-align: center;
 color: #777
}


// for multiple levels of dropdowns
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: 0px;
}

.dropdown-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
}




.align-left {
  float: left;
  padding-bottom: 2px;
 }

.align-right{
 float: right;
 margin-top: 0px;
 margin-bottom: 0px;
 padding-bottom: 0px;
 }
 // for goal-by-target layout
.indicator-card-number {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-weight: bold;
  padding-bottom: 8px;
  padding-left: 0px;
}
.heading-goal-page {
  padding-right: 0px;
  padding-left: 0px;
}

.range-and-postulate {
  margin-bottom: 25px;
  padding-right: 15px;
}

.postulate {
  padding-left: 0px;
  font-style: italic;
}
.indicator-link-goal-page {
  padding-left: 0px;
}

.container_frontpage {
  display: grid;
  grid-template-columns: 95px 1fr;
  column-gap: 10px;
}

.download-icon {
    font-size: 20px;
    font-weight: bold;
    font-size: 290%;
    color: #b90e0a;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.leftColumn {
  //box-sizing: border-box;
  float: left;
  //width: 80%;
  padding: 10px;
  flex: 80%;
}

.rightColumn {
  //box-sizing: border-box;
  float: right;
  //width: 20%;
  padding: 10px;
  flex: 20%;
  flex-direction: row-reverse;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1200px) {
  .rightColumn, .leftColumn {
    flex: 100%;
  }
}

//---
.mytablestyle {
  border-collapse: collapse;

   > table, td, th {
        border: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        }
        td{
          vertical-align: top;
          text-align: left;
        }
}


// collapsible Texts on publications strategy page
.collapsibleElements {
  .collapsible {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
    padding: 18px;
    margin: 3px;
    width: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
  }
  .active, .collapsible:hover {
    background-color: #999;
  }

  .collapsible:after {
    content: '\002B';
    font-size: 24px;
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
    font-size: 24px;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-top: 10px;
  }
}

h3.h3bold {
  font-weight: bold;
}
