/**
 * custom.scss
 *
 * This file left blank intentionally. Implementations of Open SDG can use
 * a similarly named file for custom styles.
 */

/*#2.1 Navigation Buttons */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
     &.goal-banner {
       background-color: $background-c;
     }
     &.sup-goal-banner {
       height: 5px;
       background-color: lighten($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.sub-goal-banner {
       height: 5px;
       background-color: darken($background-c,10%);
       padding-top: 0px;
       padding-bottom: 0px;
     }
     &.navigation-btn {
       background-color: $background-c;
       color: white;
       height: 36px;
       border-color: transparent;
       margin-bottom: 10px;
       margin-top: 10px;
       padding-top: 6px;
       padding-bottom: 6px;
     }
     &.navigation-btn:hover {
       background-color: darken($background-c,10%);
     }
   }
 }

 .goal-banner {
   h1, p {
     color: $goal-banner-color;
     @media only screen and (max-width: 600px) {
       font-size:4vw;
     }
     @media only screen and (max-width: 500px) {
       font-size:5vw;
     }
     @media only screen and (max-width: 400px) {
       font-size:6vw;
     }
     @media only screen and (max-width: 300px) {
       font-size:7vw;
     }

   }
 }
/*#2.1*/

body{
  background: $backgroundColor;
  padding-top: 15px;
}

//---#2 TimeSeriesNameDisplayedInMaps---start--------------------------------------------------------------
#mapHead {
  display: block;
  font-size: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
//---#2 TimeSeriesNameDisplayedInMaps---stop---------------------------------------------------------------

.responsiveImg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.responsiveSubtitle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// labels on reporting status page
.status {
  display: inline-block;
  //margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;

  //width: 40px;
  //text-align: center;
  //font-size: 16px;
}



.breadcrumb{
  padding-top: 20px;
  padding-bottom: 10px;
}



//---
.mytablestyle {
  border-collapse: collapse;

   > table, td, th {
        border: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        td{
          vertical-align: top;
          text-align: left;
        }
}


//-----From sass/layouts/_indicator Line 294
// ---To avoid a square in headline legend
#legend {
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
    > li {
      font-size: 13px;
      list-style-type: none;
      display: inline-block;
      color: $indicator-legendSwatch-fillColor;
      padding: 5px;
    }
    .swatch {
      display: inline-block;
      width: 45px;
      height: 15px;
      margin-right: 3px;

      &.dashed {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==');
        background-repeat: repeat;
        background-position: -5px 0;
      }
    }
    &.legend-for-line-chart {
      .swatch {
        height: 3px;
        position: relative;
        .swatch-inner {
          position: absolute;

          width: 11px;
          height: 11px;
          display: inline-block;
          top: -4px;
          left: 17px;
          border-radius: 10px;
        }
        &.headline {
          height: 6px;
          .swatch-inner {
            top: -3px;
            width: 12px;
            height: 12px;
            border-radius: 10px;

          }
        }
      }
    }
  }



//--- recenter chart title 25.8.21
.chart-title {
  //margin-left: 20px;
 text-align: center
}


// for multiple levels of dropdowns
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: 0px;
}

.dropdown-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
}
