<script>
opensdg.chartConfigAlter(function(config, info) {
  if (info.graphStepsize && Object.keys(info.graphStepsize).length > 0) {
    var overrides = {
      options: {
        scales: {
          yAxes: [{
            ticks: {
              stepSize: info.graphStepsize.step,
            }
          }]
        }
      }
    }
    // Add these overrides onto the normal config.
    $.extend(true, config, overrides);
  }

  if (info.precision && Object.keys(info.precision).length > 0) {
    var overrides = {
      options: {
        scales: {
          yAxes: [{
            ticks: {
              precision: 3,//info.graphAxisPrecision.decimals,
            }
          }]
        }
      }
    }
    // Add these overrides onto the normal config.
    $.extend(true, config, overrides);
  }
});
</script>
