{% if page.language == 'de' %}
  {% assign language = '' %}
{% else %}
  {% assign language = page.language %}
{% endif %}

{% if page.indicator.dns_indicator_label %}
  {% assign buttonLabel = page.indicator.dns_indicator_label %}
{% else %}
  {% assign buttonLabel = page.indicator.dns_indicator | replace: "/", "" | replace: "-", "." %}
{% endif %}

{% if page.indicator.dns_indicator2 %}
  {% if page.indicator.dns_indicator_label_2 %}
    {% assign buttonLabel2 = page.indicator.dns_indicator_label_2 %}
  {% else %}
    {% assign buttonLabel2 = page.indicator.dns_indicator2 | replace: "/", "" | replace: "-", "." %}
  {% endif %}
{% endif %}

{% if page.indicator.dns_indicator3 %}
  {% if page.indicator.dns_indicator_label_3 %}
    {% assign buttonLabel3 = page.indicator.dns_indicator_label_3 %}
  {% else %}
    {% assign buttonLabel3 = page.indicator.dns_indicator3 | replace: "/", "" | replace: "-", "." %}
  {% endif %}
{% endif %}
<!---
{% if site.environment == 'staging' %}
  {% assign baseurl = 'https://g205sdgs.github.io/sdg-indicators' %}
{% else %}
  {% assign baseurl = 'https://sdg-indikatoren.de' %}
{% endif %}
-->
<!---Indicator page-->
<!---3 Btns if there is a corresponding Indicator-->
<div class="container">
  <div class="row justify-content-md-center">
    {% if page.indicator.dns_indicator %}
      {% if page.indicator.dns_indicator2 %}
        {% if page.indicator.dns_indicator3 %}
          <div class="col d-grid gap-2">
            <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
              <b class="btn-label d-none d-md-block"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.t.general.prev_indicator }}</b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-left" aria-hidden="true"></i></b>
            </a>
          </div>

          <div class="col-md-auto">
            <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_dns_indicator }}" role="button">
              <b>DNS-{{ buttonLabel }}</b>
            </a>
          </div>
          <div class="col-md-auto">
            <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator2 }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_dns_indicator2 }}" role="button">
              <b>DNS-{{ buttonLabel2 }}</b>
            </a>
          </div>
          <div class="col-md-auto">
            <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator3 }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_dns_indicator3 }}" role="button">
              <b>DNS-{{ buttonLabel3 }}</b>
            </a>
          </div>
          <div class="col d-grid gap-2">
            <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
              <b class="btn-label d-none d-md-block">{{ page.t.general.next_indicator }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-right" aria-hidden="true"></i></b>
            </a>
          </div>
        {% else %}
          <div class="col d-grid gap-2">
            <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
              <b class="btn-label d-none d-md-block"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.t.general.prev_indicator }} </b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-left" aria-hidden="true"></i></b>
            </a>
          </div>

          <div class="col-md-auto">
            <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_dns_indicator }}" role="button">
              <b>DNS-{{ buttonLabel }}</b>
            </a>
          </div>
          <div class="col-md-auto">
            <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator2 }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_dns_indicator2 }}" role="button">
              <b>DNS-{{ buttonLabel2 }}</b>
            </a>
          </div>
          <div class="col d-grid gap-2">
            <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
              <b class="btn-label d-none d-md-block">{{ page.t.general.next_indicator }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-right" aria-hidden="true"></i></b>
            </a>
          </div>
        {% endif %}
      {% else %}
        <div class="col d-grid gap-2">
          <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
            <b class="btn-label d-none d-md-block"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.t.general.prev_indicator }} </b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-left" aria-hidden="true"></i></b>
          </a>
        </div>

        <div class="col-md-auto">
          <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" title="{{ t.general.link_dns_indicator }}" role="button">
            <b class="btn-label d-none d-md-block">{{ page.t.general.indicator_link_dns }} DNS-{{ buttonLabel }}</b><b class="btn-label d-block d-md-none">DNS-{{ buttonLabel }}</b>
          </a>
        </div>

        <div class="col d-grid gap-2">
          <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
            <b class="btn-label d-none d-md-block">{{ page.t.general.next_indicator }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-right" aria-hidden="true"></i></b>
          </a>
        </div>
      {% endif %}
    <!---2 Btns if there is no corresponding Indicator-->
    {% else  %}
      <div class="col d-grid gap-2">
        <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
          <b class="btn-label d-none d-md-block"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ page.t.general.prev_indicator }} </b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-left" aria-hidden="true"></i><</b>
        </a>
      </div>

      <div class="col d-grid gap-2">
        <a href="{{ site.baseurl }}/{{ language }}/{{ page.indicator.next }}" class="btn btn-primary btn-block goal-{{ page.goal.number }} navigation-btn" role="button">
          <b class="btn-label d-none d-md-block">{{ page.t.general.next_indicator }} <i class="fa fa-chevron-right" aria-hidden="true"></i></b><b class="btn-label d-block d-md-none"><i class="fa fa-chevron-right" aria-hidden="true"></i></b>
        </a>
      </div>
    {% endif %}
  </div>
</div>
